NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Ticketing widget provider config
# supported: ticketspice | tickettailor | eventbrite
NEXT_PUBLIC_TICKETING_PROVIDER=tickettailor
NEXT_PUBLIC_TICKETING_WIDGET_URL=
